@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Salut</title>
    <link rel="stylesheet" media="screen" href="./asset/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="./asset/js/lib/bootstrap/css/bootstrap-responsive.css">
    
  </head>
  <body>
    <div class="page container">
      <header class="jumbotron subhead" id="overview">
	<a class="brand" href="#"> <img class="align-left" src="./asset/img/logood.png" height="75"></a>
      </header>
      <div id="user_header">
	<a id="shop_header" href="/shop">SHOP</a>
	
	@if(session.get("user_login") && !session.get("user_login").isEmpty()){
	<span id="user_welcome">Welcome @session.get("user_login")</span>
	<a id="user_cart" alt="your cart" href="/cart">Cart</a>
	<form method="POST" action="logout" style="display:inline-block;"><input type="submit" value="Logout"  ></form>
	
	} else {
	You are not connected
	<a href="login">Login</a>
	<a href="register">Register</a>
	}

      </div>

      <h1>@title</h1>

      @content
      
      <br>

      <footer class="navbar-inner">
	<!-- Start of user code footer -->
	<p class="pull-right">
	  <div><a href="/admin">Administration</a></div>
	  <div><a href="/api/tests/products_info">WS Tests</a></div>  
	</p>
	<p></p>
	<!-- End of user code -->
      </footer>
    </div>
  </body>
</html>
