@(user_login: String = "", products_list: List[models.ProductModel] = null)

@import models.ProductModel

@if(user_login && !user_login.isEmpty()){
<h1>Welcome @user_login</h1>
<form method="POST" action="logout"><input type="submit" value="Logout"></form>
} else {
You are not connected <br>
<a href="login">Login</a>
<a href="register">Register</a>
}

<div align="left">
@if(products_list != null && !products_list.isEmpty()){
	<h3> Products </h3>
	<ul>
	@for(p : ProductModel <- products_list) {
		<li>@p.label (x@p.quantity)</li>
	}
	</ul>
} else {
	(No products)
}
</div>

<div><a href="admin">Administration</a></div>